td{
  list-style: none;
  margin-bottom: .5vw;
}

thead{
  font-weight:bold;
}

label{
  margin-right: 2vw;
}

button{
  margin-right: .5vw;
  &:hover{
    opacity: .4;
  }
}

tr{
  text-align: center;
}

.u-new-task__input {
  margin-bottom: 1vw;
}